@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    --cor-primaria: #0C0C0C;
    --cor-secundaria: #D1BB9E;
    --cor-terciaria: #9B3922;
    --cor-hover: #F2613F;

    --font-primaria: "Krona One", sans-serif;
    --font-secundaria: "Montserrat", sans-serif;
}

* {
    margin: 0;
    padding: 0;
}
body {
    box-sizing: border-box;
    background-color: var(--cor-primaria);
    color: var(--cor-secundaria);
}
.cabecalho {
    padding: 2% 0% 0% 15%;
}
.cabecalho__menu {
    display: flex;
    gap: 80px;
}
.cabecalho__menu__link {
    font-family: var(--font-secundaria);
    font-size: 20px;
    font-size: 600;
    color: var(--cor-terciaria);
    text-decoration: none;
}
.cabecalho__menu__link:hover {
    color: var(--cor-hover);
    transition: 0.5s;
}
.apresentacao {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 4.88% 15%;
}
.apresentacao__conteudo {
    width: 615px;
    display: flex;
    flex-direction: column;
    gap: 30px;
}
.apresentacao__conteudo__titulo {
    font-size: 27px;
    font-family: var(--font-primaria);
}
.titulo-destaque {
    color: var(--cor-terciaria);
}
.apresentacao__conteudo__paragrafo {
    font-size: 18px;
    font-family: var(--font-secundaria);
}
.apresentacao__conteudo__links {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
}
.apresentacao__links__subtitulo {
    font-family: var(--font-primaria);
    font-weight: 400;
    font-size: 20px;
}
.apresentacao__btn__link {
    display: flex;
    justify-content: center;
    gap: 16px;
    width: 550px;
    text-align: center;
    border: 2px solid var(--cor-terciaria);
    border-radius: 8px;
    font-size: 20px;
    padding: 21.5px 0;
    text-decoration: none;
    color: var(--cor-secundaria);
    font-weight: 600;
    font-family: var(--font-secundaria);
}
.apresentacao__btn__link:hover {
    background-color: var(--cor-hover);
    transition: 0.5s;
}
.foto-luks {
    width: 515px;
    height: 515px;
    border-radius: 10%;
}
.apresentacao__lista {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
}
.apresentacao__lista__cursos {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 40px;
}
.lista__titulo{
    font-family: var(--font-primaria);
    font-weight: 400;
    font-size: 20px;
}
.lista__ordenada {
    font-family: var(--font-secundaria);
    font-size: 18px;
    font-weight: 600;
    color: var(--cor-terciaria);
}
.rodape {
    padding: 24px;
    color: var(--cor-primaria);
    background-color: var(--cor-terciaria);
    text-align: center;
    font-family: var(--font-secundaria);
    font-weight: 400;
    font-size: 18px;
}